/* Header */

header {
    position: fixed; /*Pour que le header soit fixe*/
    top: 0; /*Pour que le header soit en haut*/
    left: 0; /*Pour que le header soit à gauche*/
    width: 100vw; /*Prend toute la longeur de l'écran*/
    z-index: 1000; /*Pour être sûr que le header soit au dessus de tout*/
    background-color: transparent; /*Pour que le header soit transparent*/
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /*Pour ajouter une ombre*/
}

header a {
    text-decoration: none; /*Pour enlever le soulignement des liens*/
    color: white; /*Pour que les liens soient blanc*/
}

header h1 {
    display: flex; /*Pour que les éléments soient alignés horizontalement*/
    flex-direction: row; /*Pour que les éléments soient alignés horizontalement*/
    margin-left: 10px; /*Pour que le titre se décale de 10px à gauche*/
}

header h1 a {
    margin-left: 1.5rem; /*Pour enlever les marges*/
}

header nav {
    display: flex; /*Pour que les éléments soient alignés horizontalement*/
    justify-content: space-between; /*Pour que les éléments soient espacés de manière égale*/
    align-items: center; /*Pour que les éléments soient alignés verticalement*/
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.6px);
    -webkit-backdrop-filter: blur(9.6px);
}

header nav ul {
    display: flex; /*Pour que les éléments soient alignés horizontalement*/
    list-style: none; /*Pour enlever les points du ul li*/
}

header nav ul li {
    margin: 0 1rem; /*Pour que les éléments soient espacés de 1rem*/
    display: flex; /*Pour que les éléments soient alignés horizontalement*/
    justify-content: space-between; /*Pour que les éléments soient espacés de manière égale*/
    align-items: center;
}

header nav ul li img {
    display: flex; /*Pour que les éléments soient alignés horizontalement*/
    justify-content: space-between; /*Pour que les éléments soient espacés de manière égale*/
    align-items: center;
}

/* Début : CSS : quand hover sur un lien de la nav, une ligne apprait en dessous */

header nav ul li a {
    position: relative; /*Pour que les éléments soient positionnés de manière relative*/
}

header nav ul li a::after {
    content: ''; /*Pour ajouter du contenu*/
    position: absolute; /*Pour que les éléments soient positionnés de manière absolue*/
    left: 0; /*Pour que les éléments soient à gauche*/
    bottom: -5px; /*Pour que les éléments soient en bas de 2px*/
    width: 100%; /*Pour que les éléments prennent toute la largeur*/
    height: 3px; /*Pour que les éléments aient une hauteur de 2px*/
    background-color: white; /*Pour que les éléments soient de couleur #030921*/
    transform: scaleX(0); /*Pour que les éléments soient cachés*/
    transition: transform 0.6s ease-in-out; /*Pour que les éléments apparaissent en 0.6s avec un effet ease-in*/
}

header nav ul li a:hover::after {
    transform: scaleX(1);
}

/* Fin : CSS */

@media screen and (max-width: 920px){
    header nav ul {
        display: none; /* Hide the navigation menu */
    }

    header nav #burger_menu {
        display: flex; /* Show the burger menu */
        justify-content: center;
        align-items: center;
        margin-right: 10px;
    }
}

@media screen and (min-width: 920px){
    header nav #burger_menu {
        display: none; /* Hide the burger menu */
    }
}