/* Section BTS SIO */

#bts_sio {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    text-align: center;
    border-radius: 25px;
    /* Background Transparent */
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.6px);
    -webkit-backdrop-filter: blur(9.6px);
}

#bts_sio div div h1 {
    display: none;
}

.Titre {
    font-size: 25px;
    margin-bottom: 0;
}

.OPTION {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.SISR {
    border: 3px solid rgb(38,231,246);
    border-radius: 25px;
    width: 509px;
    padding: 30px;
    margin: 20px 0px;
    text-align: start;
}

.SLAM {
    border:  3px solid var(--blue);
    border-radius: 25px;
    width: 509px;
    padding: 30px;
    margin: 20px 0px;
    text-align: start;
}

.SISR:hover {
    cursor: default;
    border:  3px solid white;
}

.SLAM:hover {
    cursor: default;
    border:  3px solid white;
}

#bts_sio div div h2 {
    padding-top: 20px;
}

@media screen and (max-width: 920px){
    #bts_sio {
        margin: 0;
    }

    .SLAM, .SISR {
        width: 100%;
        border: transparent;
    }

    .SLAM:hover, .SISR:hover {
        border: transparent;
    }
}

@media screen and (min-width: 920px){
    
}