/* Section Contact */

#Contact {
    width: 100vw; /*Prend toute la longeur de l'écran*/
    height: 100vh; /*Prend toute la hauteur de l'écran*/
    margin: 0;
    display: flex; /*Pour que les éléments soient alignés horizontalement*/
    justify-content: center; /*Pour que les éléments soient centrés horizontalement*/
    align-items: center; /*Pour que les éléments soient centrés verticalement*/
    flex-direction: column; /*Pour que les éléments soient alignés horizontalement*/
}

#Contact div {
    display: flex; /*Pour que les éléments soient alignés horizontalement*/
    justify-content: center; /*Pour que les éléments soient centrés horizontalement*/
    align-items: center; /*Pour que les éléments soient centrés verticalement*/
    flex-direction: column; /*Pour que les éléments soient alignés horizontalement*/
    margin-top: 80px;
    width: 40rem;
    height: 35rem;
    border-radius: 30px;
    /* Background Transparent */
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.6px);
    -webkit-backdrop-filter: blur(9.6px);
}

#Contact div h1 {
    display: none;
}

#Contact div a {
    text-decoration: none;
    color: white;
}

#Contact div h3 {
    margin: 20px;
}

#Contact div h3 a {
    font-size: 55px;
}

#Contact div h4 a {
    font-size: 30px;
}